span {
  color: red;
}

.main-heading span {
  color: #071348;
  border-bottom: 8px solid #071348;
  padding-bottom: 5px;
  font-size: 2rem;

  @media screen and (max-width: 767px){
      font-size: 1.5rem
  }
}

label {
  color: #071348;
}

.messages {
  max-width: 600px;
  margin: 0 auto;

  p {
    padding: 20px 0;
    font-size: 1.2rem;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
