span {
  color: red;
}

.main-heading span {
  color: #071348;
  border-bottom: 8px solid #071348;
  padding-bottom: 5px;
  font-size: 2rem;

  @media screen and (max-width: 767px){
      font-size: 1.5rem
  }
}

label {
  color: #071348;
}
