<div class="container">
  <div class="row">
    <div class="col-6 mx-0 px-0">
      <div class="satisfaction-bar pb-2 pl-2">
        <img src="../assets/images/ticks/green-tick.png" alt="green tick" width="20px">
        <p class="pl-1 mb-0">Satisfaction</p></div>
    </div>
    <div class="col-6 mx-0 px-0">
      <div class="pay-bar pb-2 pl-2">
        <img src="../assets/images/ticks/blue-tick.png" alt="blue tick" width="20px">
        <p class="pl-1 mb-0">Pay</p></div>
    </div>
  </div>
</div>
