select {
  padding: 15px 20px;
  appearance: none;
  width: 100%;
  background-color: white;
  color: gray;
  border-color: gray;
  border-radius: 5px;

  &:focus {
    outline: 0;
  }
}

.select-wrapper {
  position: relative;

  &::after {
    content: "⌄";
    font-size: 2rem;
    position: absolute;
    right: 6%;
    color: gray;
  }
}

.container {
  max-width: 1100px;
}
